# --- Python / Backend ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.log
.venv/
.env

# --- Node / Frontend 
frontend/node_modules/
frontend/build/
frontend/.pnp
frontend/.pnp.js

# --- Kubernetes / Dev ---
k8s/
logs/
docs/
*.pptx
*.pdf
*.docx

# --- Misc ---
.DS_Store
.idea/
.vscode/
